p {
    font-family: Lato;
  }
  
  .example-card {
    max-width: 300px;
    margin: 4px
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .my-class{
    width: 10;
  
}

::ng-deep .mat-icon{
    height:48px !important;
    width:48px !important;
    font-size:48px !important;
}