<mat-card class="example-card">
  <p class="align-right"><b>ADD COMMENT</b>
    <mat-card-content>

        <div class = "ml-20 mr-5"> <mat-card-actions>

            <form>
                <mat-form-field class="example-full-width">
                    <input #comment matInput type="text" name="comment" placeholder="Enter a comment">
                  </mat-form-field>
                  &nbsp; &nbsp;
                  <button class="my-class" mat-raised-button style="background-color:  rgb(101, 220, 250); color:black" type="button" 
                  (click)="post(comment.value)"><b>POST</b>
                </button>
                <button class= mat-button style=
                "background-color: rgb(243, 93, 93); color:black" (click) = "cancel()">
                <b>CANCEL</b>
            </button>
            
            </form>
             
      
           
          
        </mat-card-actions></div>


    </mat-card-content>
   

  </mat-card>