<div class="search-bar">
    <div class="row">
      <div class="col-xl-11 mt-5 ml-5 mr-5">
        <h3 class="text-dark"><b>FIND PEOPLE</b></h3>
      </div>
      <div class="col-xl-11 mt-2 ml-5 mr-5">
        <form>
          <div class="input-group md-form form-sm form-1 pl-0">
            <div class="input-group-prepend">
              <span class="input-group-text purple lighten-3 mb-5" id="basic-text1"><i
                  class="material-icons">group</i></span>
            </div>
            <input type="search" class="form-control" name="search-bar" [(ngModel)]="nameSearch" (input)="search()"
              placeholder="Search Users">
          </div>
        </form>
      </div>
    </div>
  </div>
  <div>
    <div class="col-xl-11 mt-2 ml-5 mr-5" *ngFor="let user of filteredUsers">
    <mat-card class="example-card">
        <!-- <mat-icon>more_vert</mat-icon> -->
            <div><b>User Name : </b>{{user.loginId}}</div>
        <mat-card-content><b>First Name : </b>{{user.firstName}}<br>
            <b>Last Name : </b>{{user.lastName}}<br>
            <b>EmailId : </b>{{user.email}}<br>
        </mat-card-content>
       
    </mat-card> 
</div>
</div>

    
