<div class="row">
    <div class="col-xs-11 mt-5 ml-5 mr-5 mb-5 mx-auto">
      <div class="card mt-5">
        <h1 class="mt-5 ml-5">Signup</h1>
        <form [formGroup]="signUpForm" (submit)="this.userService.addUser(signUpForm.value)">
          <div class="row mt-5 ml-5 mr-5">
            <div class="alert-danger col-12 px-auto" *ngIf="signUpForm.get('loginId').hasError('Login Taken')">
              Login Id already exists
            </div>
            <div class="col-md-6 col-xs-12">
              <label for="loginId">LoginId</label>
              <input type="text" class="form-control" placeholder="Enter loginId" formControlName="loginId"
                id="loginId">
              <div class="text-danger" *ngIf="loginId.invalid && loginId.errors.required && loginId.touched">LoginId
                is required</div>
            </div>
          </div>
          <div class="row ml-5 mr-5">
            <div class="col-md-6 col-xs-12 mt-5">
              <label for="firstName">First Name</label>
              <input type="text" class="form-control" placeholder="Enter First Name" formControlName="firstName"
                id="firstName">
              <div class="text-danger" *ngIf="firstName.invalid && firstName.errors.required && firstName.touched">First
                Name is required</div>
            </div>
            <div class="col-md-6 col-xs-12  mt-5">
              <label for="lastName">Last Name</label>
              <input type="text" class="form-control" placeholder="Enter Last Name" formControlName="lastName"
                id="lastName">
              <div class="text-danger" *ngIf="lastName.invalid && lastName.errors.required && lastName.touched">Last Name
                is required</div>
            </div>
          </div>
            <div class="row ml-5 mr-5">
          <div class="col-md-6 col-xs-12 mt-5">
            <label for="email">Email</label>
            <input type="email" class="form-control" placeholder="Enter Email" formControlName="email"
              id="email">
            <div class="text-danger" *ngIf="email.invalid && email.errors.required && (email.dirty || email.touched )">
                <p *ngIf="emailId.errors.pattern" class="text-danger">Enter valid EmailId </p>
            </div>
 </div> 
        </div>
            <div class="row ml-5 mr-5">
          <div class="col-md-6 col-xs-12 mt-5">
            <label for="contactNumber">Contact Number</label>
            <input type="text" class="form-control" placeholder="Enter Contact Number" formControlName="contactNumber"
              id="contactNumber">
            <div class="text-danger" *ngIf="contactNumber.invalid && contactNumber.errors.required && contactNumber.touched">Contact Number
               is required</div>
          </div>
         </div>
          <div class="row ml-5 mr-5">
            <div class="col-md-6 col-xs-12 mt-5">
              <label for="password">Password</label>
              <input type="password" class="form-control" placeholder="Enter Password" formControlName="password"
                id="password">
              <div class="text-danger" *ngIf="password.invalid && password.errors.required && password.touched">Password
                is required</div>
            </div>
            <div class="col-md-6 col-xs-12 mt-5">
              <label for="confirmPassword">Confirm Password</label>
              <input type="password" class="form-control" placeholder="Enter Confirm Password"
                formControlName="confirmPassword" id="confirmPassword">
              <div class="text-danger"
                *ngIf="confirmPassword.invalid && confirmPassword.errors.required && confirmPassword.touched">Confirm the
                Password</div>
              <div class="text-danger" *ngIf="signUpForm.get('confirmPassword').hasError('nomatch')">Password and Confirm
                Password do not match</div>
            </div>
          </div>
          <div class="row mt-5 ml-5 mr-5 mb-5">
            <div class="col-12">
              <button type="submit" class="btn signup-btn" [disabled]="!signUpForm.valid">Signup</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>