
.bad {
	background-color: rgb(18, 203, 216);
	vertical-align: super;
}

.truck {
	color: blue;
}

.delete {
	color: blue;
}

.color {
	background-color: palevioletred;
}

.colors {
	background-color: rgb(248, 252, 54);
}

.material-icons.md-36 {
	font-size: 35px;
	line-height: 1.5;
	vertical-align: middle;
}

.material-icons.other_icon {
	line-height: 1.75;
	vertical-align: middle;
}

.navbar_top {
	background-color: #fe5711;
}

.navbar_bottom {
	background-color:  #fe5711;
	position: fixed;
	width: 100%;
	bottom: 0;
}

.badge-primary.delivery_badge {
	vertical-align: super;
}

.delete-icon {
	text-align: right;
}

.signup-btn {
	background-color:  #fe5711;
	color: white;
}

.search-bar {
	background-image:
		url("https://images.unsplash.com/photo-1444459094717-a39f1e3e0903?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80");
}